@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,400;1,600&family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  /* font-family: "Tilt Neon", cursive; */
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}
body::before {
  content: "";
  position: fixed;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/prof.jpg") top right no-repeat;
  left: 0;
  background-size: cover;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #18d26e;
}
a:hover {
  color: #35e888;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}
#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header h1 a {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: #fff;
  border-bottom: 2px solid #18d26e;
  padding-bottom: 6px;
}

#header h2 span:hover {
  color: #fff;
  border-bottom: 3px solid rgb(6, 166, 190);
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-style: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: #18d26e;
}

/* making it responsive */

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* -- Navigation menu -- */
.nav-item {
    width:  100px;
    height: 40px;
    position: relative;
}

.nav-item:hover{
    color: white !important;
}

/* -- before -- */
.nav-item::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    left: 25%;
    border-bottom: 2px solid #18d26e;
    transition: 0.5s ease 0s;
    color: #fff !important;
    visibility: hidden;
}
.nav-item:hover::before, .active::before{
    visibility: visible;
    color: #fff !important;
    width: 30%;
    transition: 0.3s ease-in-out;
}

@media (max-width: 500px) {
  .container {
    align-items: center;
    text-align: center;
  }
}
